@import '/styles/reset.css';
@import '/styles/typography.css';
@import '/styles/spacing.css';
@import '/styles/colors.css';
@import '/styles/tooltip.css';

body {
    background: url(/summoners-rift.webp);
    background-size: cover;
    color: var(--light);
    scrollbar-gutter: stable;
    height: 100vh;
}
main {
    padding-top: var(--gap-4);
}
#__nuxt {
    max-width: 1024px;
    margin: 0 auto;
}
input,
textarea {
    background-color: rgb(80, 80, 80);
    /* Very dark grey */
    color: #fff;
    /* White text */
    border: none;
    padding: 0 var(--gap-1);

    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }
}

a {
    text-decoration: none;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.modal-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, 0.65);
}

.modal {
    cursor: default;
    border-top: 1px solid var(--primary-600);
    border-left: 1px solid var(--primary-600);
    margin: var(--cell) var(--gap-4) 0 var(--gap-4);
    border-radius: var(--radius);
    width: 600px;
    background-color: hsla(225, 57%, 17%, 0.99);
    box-shadow: 3px 3px 10px var(--primary-600);
}
@media (width >= 992px) {
    main {
        margin-right: calc(var(--cell) / 2);
    }
}
@media (max-width: 992px) {
    .modal {
        width: 550px;
    }
}

@media (max-width: 576px) {
    .modal {
        width: 450px;
    }
}

@media (max-width: 425px) {
    .modal {
        width: 350px;
    }
}
